<%-# do all this if not signed in? -%>
<div class="row">
  <div class="span6 offset3">
  <h1>Create a ToDo list</h1>
  <h4><%= "List: #{@list.name}" %></h4>


  <%= form_for(@list.items[3]) do |f| %>
    <%= f.text_field :name %><%= f.submit "add" %>
  <% end %>

  <ul>
    <% 3.times do |i| %>
      <li><%= @list.items[i].name %></li>
    <% end %>
  </ul>

  <%= link_to "Save your list", '#', class: "btn btn-large btn-primary" %>
  </div>
</div>
